

/* Classes */

/* Classes */

/* Text */

p {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    display: inline;
    order: 1;
    margin-block-start: 0;
    margin-block-end: 0;
    vertical-align: top;
}


/* Icon */

.appIcon{
    float:left; 
    margin-left: 0; 
    margin-right: 2vw;
    width: 2.5vw;
}

.small{
    width: 2.2vw;
    margin-left: 1vw;
    order: 2;
    float: right;
}
.small:hover{
    cursor: pointer;
}

/*Elements*/

li:not(:first-of-type){
    margin-top: 2vw;
}