body{
    text-align: center;
    color: inherit;
    text-decoration: none;
    overflow: hidden;
}
  
#wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}